@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

.home-page-root {
    margin-bottom: 2rem;
}


.home-page-root:last-child {
    /* position:absolute;
    top: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto; */

    /* overflow: auto; */
}

.home-page-root h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.06rem;
}
