.project-card-root {
    background-color: var(--green-light);
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}

.project-card-root .header {
    display: flex;
    position: relative;
    flex-direction: column;
    /* padding: 0.6rem 0; */
    justify-content: center;
    justify-items: flex-start;
    border-radius: 6px 6px 0 0;
}

.project-card-root .header:hover {
    background-color: hsl(137, 79%, 69%);
}

.project-card-root .header .stats {
    
}

.project-card-root h3 {
    border-radius: 6px 6px 0 0;
    width: 100%;
    padding: 0.6rem 0;
}

.project-card-root .toggle-btn {
    text-align: left;
    height: 1.2rem;
    /* vertical-align: baseline; */
    font-size: 1.2rem;
    padding-left: 0.4rem;
    padding-bottom: 0.3rem;
    color: var(--green-darker);
}

.project-card-root .toggle-btn:hover {
    transition: all 0.1s ease-in;
/* color: white; */
background-color: var(--green-lighter);
opacity: 75%;
}

.project-card-root h2,
.project-card-root h3 {
    margin: 0;
    font-weight: 600;
}

.project-card-root .task-list {
    width: 100%;
    background-color: hsl(137, 45%, 85%);
    border-radius: 0 0 6px 6px;
}

.project-card-root .task-list .task-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eee;
    padding: 0.2rem 0.6rem;
    box-shadow: 0 0 4px -3px inset;
}

.project-card-root .task-list .task-card:last-child {
    border-radius: 0 0 6px 6px;
}

.project-page-root .btn {
    font-size: 1.6rem;
    padding: 0.8rem;
    /* margin: 1rem; */
    border-radius: 50%;
    cursor: pointer;
    /* position: absolute;
    bottom: 0;
    right: 0.5rem; */
    opacity: 50%;
}


.project-page-root .project-details {
    display: flex;
    flex-direction: column;
    width: 650px;
    max-width: 90vw;
    margin: auto;
    align-items: flex-start;
    justify-content: flex-start;
}

.project-page-root .project-details .btn {
    padding: 0rem;
    margin: 0 0.5rem;
    vertical-align:baseline;
    opacity: 15%;
    font-size: 1.1rem;
}

.project-page-root .btn:hover {
    opacity: 60%;
}

.project-page-root .project-details .project-description,
.project-page-root .project-details .project-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid blue 1px; */
    margin: auto;
    /* width: fit-content; */
}

.project-page-root .project-name h2 {
margin: 1rem 0 0;
text-align: center;
}

.project-page-root .project-description .buttons,
.project-page-root .project-name .buttons {
    /* position: absolute;
    right: 0rem;
    bottom: -1.4rem; */
}

.project-page-root .project-details .project-name input {
    font-family: inherit;
    border: none;
    /* outline: none; */
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    /* margin: 0; */
    /* padding: 0; */
    margin: 0.7rem auto;
    width: 100%;
}


.project-page-root .new-task.btn {
    /* margin: 0.8rem; */
    /* padding: 0.5rem; */
    background-color: var(--green-light);
    border: none;
    border-radius: 4px;
}

.project-page-root textarea {
    resize: none;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    /* width: 80%; */
    overflow: auto;
    /* margin: 0; */
    padding: 0.4rem;
    border: none;
    outline-color: var(--green-light);
}

.project-page-root textarea:enabled {
    text-align: left;
    /* margin: 0; */
    width: 600px;
    max-width: 80vw;
}

.project-page-root .buttons {
    /* opacity: 60%; */
    font-size: 1.5rem;
    /* position: absolute;
    bottom: 0.5rem;
    right: 0.2rem; */
    /* display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: flex-end; */
}


.project-page-root summary{
    text-align: left;
    font-size: 1.2rem;
}


.project-page-root .list-container {
    /* max-height: 60vh; */
    /* overflow: auto; */
    /* margin: auto; */
    /* width: fit-content; */
    /* width: 100%; */
}

.project-page-root .completed summary {
    width: 90%;
    margin: 0.5rem auto 0;
    /* background-color: red; */
}

.project-page-root .btn:hover {
    opacity: 100%;
}

.project-page-root .btn.delete {
    /* background-color: var(--red-lighter); */
}
.project-page-root .btn.add {
    background-color: var(--green-lighter);
}

.project-page-root .delete.btn[data]:hover::after {
    content: attr(data);
    background: black;
    color: cyan;
    border-bottom: 0 none transparent;
    left: 2rem;
}

.project-page-root .footer {
    position: fixed;
    bottom: 0%;
    left: 50%;
    right: 50%;
    width: fit-content;
    margin-left: -2rem;

    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 2rem; */
    /* justify-content: center; */
    /* padding: 0.8rem 0; */
    /* background-color: rgba(255, 255, 255, 0.836); */
    /* width: 100%; */
    /* height: fit-content; */
    /* height: 3rem; */
}

.project-page-root .footer .btn {
    font-size: 2rem;
    margin: 1rem;
}

.project-page-root .edit.btn {
    position: absolute;
    right: -2.5rem;
    top: 1.5rem;
}

.project-card-root .delete.btn {
    position: absolute;
    right: 0rem;
    top: 0;
    padding: 0.5rem;
    /* bottom: 0.5rem; */
    opacity: 40%;
    font-size: 0.9rem;
    background-color: none;
    /* z-index: 3; */
}

.project-card-root .delete.btn:hover {
    opacity: 90%;
    /* transform-origin: top right; */
    /* transform: scale(112%); */
}