.login-root {
    /* width:500px; */
    /* margin: auto; */
    /* padding: 1rem; */
    /* border: solid red 1px */
}

.signup-root .signup-form,
.login-root .login-form {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 65vw;
    max-width: 400px;
    margin: auto;
}

.signup-root button,
.login-root button {
    margin: 1rem 0;
    border: none;
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 4px;
    background-color: lightgray;
}

.signup-root .action-btn,
.login-root .action-btn {
    background-color: var(--green-light);
}

.signup-root .link-btn,
.login-root .link-btn {
    width: 8rem;
    margin: 1rem auto;
}

.signup-root hr,
.login-root hr {
    width: 100%;
    /* margin: auto; */
}