@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;400;500;600;700&family=Roboto:wght@100;400;700&display=swap');

:root {
  --green: hsl(137, 65%, 51%);
  --green-light: hsl(137, 55%, 66%);
  --green-lighter: hsl(137, 45%, 75%);
  --green-dark: hsl(137, 71%, 41%);
  --green-darker: hsl(137, 72%, 35%);

  --red: hsl(17, 65%, 51%);
  --red-light: hsl(17, 70%, 66%);
  --red-lighter: hsl(17, 70%, 75%);
  --red-dark: hsl(17, 71%, 41%);
  --red-darker: hsl(17, 72%, 35%);

  --blue: hsl(170, 65%, 51%);
  --blue-light: hsl(170, 55%, 66%);
  --blue-lighter: hsl(170, 45%, 75%);
  --blue-dark: hsl(170, 71%, 41%);
  --blue-darker: hsl(170, 72%, 35%);
}

.App {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
}

.App button {
  font-family: inherit;
  cursor: pointer;
}

.App button:hover {
  filter: contrast(110%);

}

.App input{
  outline-color: var(--green);
  font-size: 1rem;
  padding: 0.2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
